.main_content {
  display:        flex;
  flex-direction: column;
  gap:            2rem;


  .product_list {
    display:        flex;
    flex-direction: column;
    gap:            2rem;


    .list_container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .list_item {
        display:        flex;
        flex-direction: column;
        height:         19.938rem;
        gap:            2.375rem;
      }

    }
  }
}




@media screen and (min-width: 400px) {
  .main_content {


    .product_list {


      .list_container {
        flex-direction: row;
        flex-wrap: wrap;


        .list_item {

        }
      }
    }
  }

}

@media screen and (min-width: 768px) {
  .main_content {


    .product_list {
      max-width: 50.063rem;
      .list_container {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 2.5rem;
        column-gap: 1.5rem;

        .list_item {
          height: fit-content;

        }
      }
    }
  }

}

@media screen and (min-width: 1200px) {
  .main_content {
    width: fit-content;


    .product_list {


      .list_container {
        row-gap: 2.5rem;
        column-gap: 1.5rem;

        .list_item {

        }
      }
    }
  }

}