
.confirmation_cart_container {
  background-color: var(--rose-50) !important;
}


.cart_container {
  display:          flex;
  flex-direction:   column;
  width:            100%;
  padding:          1.5rem;
  gap:              1.5rem;
  background-color: white;
  border-radius:    0.75rem;


  h3 {
    color: var(--red);
  }


  /* Cart List */


  .added_items_list {
    display:        flex;
    flex-direction: column;
    gap:            1rem;


    .added_item {
      display:         flex;
      flex-direction:  row;
      flex-grow:       1;
      justify-content: space-between;
      align-items:     center;

      /* Modal Closed */


      .name_quantity_price_group {
        display:        flex;
        flex-direction: column;
        gap:            0.5rem;


        .quantity_price_group {
          display:        flex;
          flex-direction: row;
          gap:            0.5rem;


          .quantity {
            color:  var(--red);
            height: fit-content;
          }


          .price_total {
            color: var(--rose-500);
          }
        }
      }


      /* Modal Open Confirmation */


      .item_confirmation_group {
        display:        flex;
        flex-direction: row;


        .img_header_group {
          display:        flex;
          flex-direction: row;
          gap:            1rem;


          img {
            border-radius: 0.25rem;
            height:        3rem;
            width:         3rem;
            object-fit:    cover;
          }


          .name_quantity_price_group {
            .quantity_price_group {
              width: fit-content;
              gap:   1rem;


              .quantity {
                width: 1.313rem;
              }
            }

          }
        }


      }


    }
  }


  /* Total Section */


  .order_total_group {
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items:     center;
    width:           100%;
  }


  /* Carbon Info Section */


  .carbon_neutral_container {
    display:          flex;
    flex-direction:   column;
    gap:              1.5rem;
    padding:          1rem;
    background-color: var(--rose-50);
    border-radius:    0.75rem;


    .icon_text_group {
      display:        flex;
      flex-direction: row;
      gap:            0.5rem;
    }
  }

}