
.confirmation_cart_container {
  background-color: var(--rose-50) !important;
  width: 100%;
}


.cart_container {
  display:          flex;
  flex-direction:   column;
  width:            100%;
  padding:          1.5rem;
  gap:              1.5rem;
  background-color: white;
  border-radius:    0.75rem;


  h3 {
    color: var(--red);
  }


  .empty_placeholder {
    display:        flex;
    flex-direction: column;
    align-items:    center;


    p {
      color: var(--rose-500);
    }
  }


  /* Cart List */


  .added_items_list {
    display:        flex;
    flex-direction: column;
    gap:            1rem;


    .divider {
      border-color: var(--rose-100);
    }
    .divider:last-child {
      display: none;
    }


    .added_item {
      display:         flex;
      flex-direction:  row;
      flex-grow:       1;
      justify-content: space-between;
      align-items:     center;


      /* Modal Closed */


      .name_quantity_price_group {
        display:        flex;
        flex-direction: column;
        gap:            0.5rem;


        .quantity_price_group {
          display:        flex;
          flex-direction: row;
          gap:            0.5rem;


          .quantity {
            color:  var(--red);
            height: fit-content;
            width:  1.313rem;
          }


          .price_total {
            color: var(--rose-500);
          }
        }
      }


      /* Modal Open Confirmation */


      .item_confirmation_group {
        display:        flex;
        flex-direction: row;


        .img_header_group {
          display:        flex;
          flex-direction: row;
          gap:            1rem;


          img {
            border-radius: 0.25rem;
            height:        3rem;
            width:         3rem;
            object-fit:    cover;
          }


          .name_quantity_price_group {
            .quantity_price_group {
              width: fit-content;
              gap:   1rem;


              .quantity {
                width: 1.313rem;
              }
            }

          }
        }


      }


    }
  }

  .main_divider {
    border-color: var(--rose-100);
  }


  /* Total Section */


  .order_total_group {
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items:     center;
    width:           100%;
  }


  /* Carbon Info Section */


  .carbon_neutral_container {
    display:          flex;
    flex-direction:   column;
    gap:              1.5rem;
    padding:          1rem;
    background-color: var(--rose-50);
    border-radius:    0.75rem;
    align-items:      center;


    .icon_text_group {
      display:        flex;
      flex-direction: row;
      gap:            0.5rem;
    }
  }

}


@media screen and (min-width: 1440px) {
  .confirmation_cart_container{
    max-width: revert !important;
  }
  .cart_container {
    max-width: 24rem;
    height: fit-content;

    h3 {
    }


    .empty_placeholder {
      p {
      }
    }


    /* Cart List */


    .added_items_list {

      hr {
      }


      .added_item {


        /* Modal Closed */


        .name_quantity_price_group {

          .quantity_price_group {


            .quantity {
            }


            .price_total {
            }
          }
        }


        /* Modal Open Confirmation */


        .item_confirmation_group {


          .img_header_group {


            img {
            }


            .name_quantity_price_group {
              .quantity_price_group {
                .quantity {
                }
              }

            }
          }
        }
      }
    }


    /* Total Section */


    .order_total_group {
    }


    /* Carbon Info Section */


    .carbon_neutral_container {


      .icon_text_group {
      }
    }

  }

}