.card {
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
}

.img_button_group {
  display:        flex;
  flex-direction: column;
  position:       relative;
  align-items:    center;


  img {
    border-radius: 0.5rem;
    transition: ease all 500ms;

  }


  /* Active image */


  .active {
    outline: 0.125rem solid var(--red);
  }


  .button_container {
    position: absolute;
    bottom:   -1.406rem;
  }


}


.item_info_group {
  display:        flex;
  flex-direction: column;
  gap:            0.25rem;


  .price {
    color: var(--red);
  }

}


@media screen and (min-width: 400px) {
  .img_button_group {
    width: fit-content;
    img {
      max-height: 212px;
      width: auto;
    }


    /* Active image */


    .active {
    }


    .button_container {

    }
  }


  .item_info_group {

    .price {
    }
  }

}


@media screen and (min-width: 768px) {
  .img_button_group {
    width: fit-content;
    img {
      height: 13.25rem;
      width: 13.313rem;
    }


    /* Active image */


    .active {
    }


    .button_container {

    }
  }


  .item_info_group {

    .price {
    }
  }

}


@media screen and (min-width: 1440px) {
  .img_button_group {
    width: fit-content;
    img {
      min-height: 15rem;
      width: 100%;
      max-width: 15.625rem !important;
      object-fit: fill ;
    }


    /* Active image */


    .active {
    }


    .button_container {

    }
  }


  .item_info_group {

    .price {
    }
  }

}